<?xml version="1.0"?>
<!-- 
/**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author: Magiccart<team.magiccart@gmail.com>
 * @@Create Date: 2014-06-07 12:27:23
 * @@Modify Date: 2015-12-18 10:45:42
 * @@Function:
 */ 
-->
<config>
	<modules>
		<Magiccart_Alothemes>
			<version>1.5</version>
		</Magiccart_Alothemes>
	</modules>
	<frontend>
		<routers>
			<alothemes>
				<use>stardard</use>
				<args>
					<module>Magiccart_Alothemes</module>
					<frontName>alothemes</frontName>
				</args>
			</alothemes>
		</routers>
		<layout>
			<updates>
				<alothemes>
					<file>magiccart/alothemes.xml</file>
				</alothemes>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
<!-- 			<alothemes>
				<use>admin</use>
				<args>
					<module>Magiccart_Alothemes</module>
					<frontName>alothemes</frontName>
				</args>
			</alothemes> -->
            <adminhtml>
                <args>
                    <modules>
                        <alothemes after="Mage_Adminhtml">Magiccart_Alothemes</alothemes>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<alothemes>
					<file>magiccart/alothemes.xml</file>
				</alothemes>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<alothemes>
				<class>Magiccart_Alothemes_Model</class>
				<resourceModel>alothemes_mysql4</resourceModel>
			</alothemes>
			<alothemes_mysql4>
				<class>Magiccart_Alothemes_Model_Mysql4</class>
			</alothemes_mysql4>
		</models>
		<resources>
			<alothemes_setup>
				<setup>
					<module>Magiccart_Alothemes</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</alothemes_setup>
			<alothemes_write>
				<connection>
					<use>core_write</use>
				</connection>
			</alothemes_write>
			<alothemes_read>
				<connection>
					<use>core_read</use>
				</connection>
			</alothemes_read>
		</resources>
		<blocks>
			<alothemes>
				<class>Magiccart_Alothemes_Block</class>
			</alothemes>
		</blocks>
		<helpers>
			<alothemes>
				<class>Magiccart_Alothemes_Helper</class>
			</alothemes>
		</helpers>
	</global>
    <default>
        <alothemes>
            <general>
                <enabled>1</enabled>
                <jquery>1</jquery>
            </general>
            <home>
            </home>
            <list>
                <mobile>1</mobile>
                <portrait>2</portrait>
                <landscape>2</landscape>
                <tablet>3</tablet>
                <desktop>2</desktop>
                <visibleItems>3</visibleItems>
                <padding>15</padding>
                <widthImages>290</widthImages>
                <heightImages>290</heightImages>
<!--                 <action>cart,compare,wishlist</action>
                <sort_name>asc</sort_name> -->
            </list>
            <detail>
            	<imageWidth>600</imageWidth>
            	<!-- <imageHeight>256</imageHeight> -->
            	<zoomWidth>350</zoomWidth>
            	<zoomHeight>350</zoomHeight>
            	<zoomInner>1</zoomInner>
            	<lightBox>1</lightBox>
<!--             	<adjustX>10</adjustX>
            	<adjustY>0</adjustY> -->
                <slide>1</slide>
                <vertical>0</vertical>
                <auto>0</auto>
                <controls>1</controls>
                <pager>0</pager>
<!--                 <speed>1000</speed>
                <pause>100</pause> -->
                <slideMargin>20</slideMargin>
                <slideWidth>100</slideWidth>
                <portrait>3</portrait>
                <landscape>4</landscape>
                <tablet>3</tablet>
                <desktop>3</desktop>
                <visibleItems>3</visibleItems>
                
            	<relatedSlide>horizontal</relatedSlide> <!-- option: 0 or horizontal, vertical -->
				<relatedLimit>10</relatedLimit>
            	<upsellSlide>horizontal</upsellSlide> <!-- option: 0 or horizontal, vertical -->
				<upsellLimit>10</upsellLimit>
				<inforTabs>1</inforTabs>
				<activeTab>description</activeTab>
				<activeTab>box-up-sell</activeTab> <!-- box-description, or box-additional,box-up-sell,box-tags -->
            </detail>
            <related>
                <slide>1</slide>
                <vertical>0</vertical>
                <auto>0</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1000</speed>
                <pause>100</pause>
                <slideMargin>20</slideMargin>
                <slideWidth>278</slideWidth>
                <portrait>1</portrait>
                <landscape>2</landscape>
                <tablet>3</tablet>
                <desktop>3</desktop>
                <visibleItems>3</visibleItems>
            </related>
            <upsell>
                <slide>1</slide>
                <vertical>0</vertical>
                <auto>0</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1000</speed>
                <pause>100</pause>
                <slideMargin>20</slideMargin>
                <slideWidth>278</slideWidth>
                <portrait>1</portrait>
                <landscape>2</landscape>
                <tablet>3</tablet>
                <desktop>3</desktop>
                <visibleItems>3</visibleItems>
            </upsell>
            <crosssell>
                <slide>1</slide>
                <vertical>0</vertical>
                <auto>0</auto>
                <controls>1</controls>
                <pager>0</pager>
                <speed>1000</speed>
                <pause>100</pause>
                <slideMargin>20</slideMargin>
                <slideWidth>278</slideWidth>
                <portrait>1</portrait>
                <landscape>2</landscape>
                <tablet>3</tablet>
                <desktop>4</desktop>
                <visibleItems>4</visibleItems>
            </crosssell>
            <labels>
            	<newLabel>1</newLabel>
            	<newText>New</newText>
            	<saleLabel>1</saleLabel>
            	<saleText>Sale</saleText>
            	<salePercent>0</salePercent>
            </labels>
            <timer>
            	<enabled>0</enabled>
            	<titleColor>#ffffff</titleColor>
            	<timerColor>#ffffff</timerColor>
            	<caption>1</caption>
            	<captionColor>#ffffff</captionColor>
            </timer>
            <color>
            	<page_color>#aaaaaa</page_color>
            	<page_background>#fff</page_background>
            	<link_color>#444444</link_color>
            	<link_color_hover>#ff3535</link_color_hover>
            	<link_color_active>#d12853</link_color_active>
            	<button_color>#fff</button_color>
            	<button_color_hover>#ffffff</button_color_hover>
            	<button_background>#434343</button_background>
            	<button_background_hover>#ff5555</button_background_hover>
            	<labelnew_color>#ffffff</labelnew_color>
            	<labelnew_background>#78cbff</labelnew_background>
            	<labelsale_color>#ffffff</labelsale_color>
            	<labelsale_background>#6a6a6a</labelsale_background>
            </color>
            <font>
            	<size>14px</size>
            	<google>Raleway</google>
            </font>
            <newsletter>
                <enabled>1</enabled>
                <firstOnly>1</firstOnly>
                <timeDelay>4000</timeDelay>
                <autoClose>1</autoClose>
                <timeClose>10000</timeClose>
                <width>778</width>
                <height>360</height>
                <overlayColor>#353535</overlayColor>
                <background_color>#ffffff</background_color>
                <background_image></background_image>
            </newsletter>
            <categorysearch>
            	<enabled>0</enabled>
				<select_category_on_category_pages>1</select_category_on_category_pages>
				<show_subcategories>1</show_subcategories>
				<subcategories_level>3</subcategories_level>
				<indentation_text>-</indentation_text>
            </categorysearch>
    	</alothemes>
    	<dev>
    		<html>
    			<minify_html_output>1</minify_html_output>
    		</html>
    	</dev>
    </default>
</config>

