<?xml version="1.0"?>
<config>
    <modules>
        <Magiccart_Blog>
            <version>0.1.1</version>
        </Magiccart_Blog>
    </modules>
    <admin>
        <routers>
<!--             <blog_admin>
                <use>admin</use>
                <args>
                    <module>Magiccart_Blog</module>
                    <frontName>blog_admin</frontName>
                </args>
            </blog_admin> -->
            <adminhtml>
                <args>
                    <modules>
                        <blog after="Mage_Adminhtml">Magiccart_Blog</blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Magiccart_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog module="Magiccart_Blog">
                    <file>magiccart/blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magiccart_Blog>
                    <files>
                        <default>Magiccart_Blog.csv</default>
                    </files>
                </Magiccart_Blog>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Magiccart_Blog>
                    <files>
                        <default>Magiccart_Blog.csv</default>
                    </files>
                </Magiccart_Blog>
            </modules>
        </translate>
        <layout>
            <updates>
                <blog module="Magiccart_Blog">
                    <file>magiccart/blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <blog>
                <class>Magiccart_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Magiccart_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>magiccart_blog</table>
                    </blog>
                    <post>
                        <table>magiccart_blog</table>
                    </post>
                    <comment>
                        <table>magiccart_blog_comment</table>
                    </comment>
                    <cat>
                        <table>magiccart_blog_cat</table>
                    </cat>
                    <post_cat>
                        <table>magiccart_blog_post_cat</table>
                    </post_cat>
                    <store>
                        <table>magiccart_blog_store</table>
                    </store>
                    <cat_store>
                        <table>magiccart_blog_cat_store</table>
                    </cat_store>
                    <tag>
                        <table>magiccart_blog_tags</table>
                    </tag>
                </entities>
            </blog_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Magiccart_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <blog>
                <class>Magiccart_Blog_Block</class>
            </blog>
            <rss>
                <rewrite></rewrite>
                <drewrite>
                    <list>Magiccart_Blog_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <blog_setup>
                <setup>
                    <module>Magiccart_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <helpers>
            <blog>
                <class>Magiccart_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Magiccart_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>rewriteRssList</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_blog_section>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>addBlogSection</method>
                    </add_blog_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events>
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>magiccart/blog/comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
    </global>
    <default>
        <sitemap>
            <blog>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </blog>
        </sitemap>
        <blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <footerEnabled>1</footerEnabled>
                <menuRight>1</menuRight>
                <topEnabled>1</topEnabled>
                <blogcrumbs>1</blogcrumbs>
                <recent>5</recent>
                <dateformat>full</dateformat>
                <layout>page/2columns-left.phtml</layout>
                <comments>1</comments>
                <useshortcontent>1</useshortcontent>
                <rss>1</rss>
                <rssimage>images/BlogLogo.png</rssimage>
                <parse_cms>0</parse_cms>
                <categories_urls>1</categories_urls>
                <bookmarkslist>1</bookmarkslist>
                <bookmarkspost>1</bookmarkspost>
            </blog>
            <slide>
                <enabled>1</enabled>
                <width>900</width>
                <numbercolumn>3</numbercolumn>
                <numberrow>1</numberrow>
                <speed>450</speed>
                <auto>1</auto>
                <showimage>1</showimage>
                <widthimage>408</widthimage>
                <heightimage>250</heightimage>
                <showtitle>1</showtitle>
                <showauthor>1</showauthor>
                <showtime>1</showtime>
                <showshortcontent>1</showshortcontent>
                <showreadmore>1</showreadmore>
            </slide>
            <comments>
                <enabled>1</enabled>
                <page_count>10</page_count>
            </comments>
            <menu>
                <left>2</left>
				<right>0</right>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
            </menu>
        </blog>
    </default>
</config>
