@media (min-width: 1200px) {
	.policy img{max-width: none;width: inherit;}

}

@media (min-width: 992px) and (max-width: 1200px) {
}

/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
}

@media(max-width:1200px) {
	.header-right { padding-right: 0;}	
}

/* Design for a width of 960-1024 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 940px <= width < 1170px */
@media (min-width: 940px) and (max-width: 1170px) {	
  .magicmenu .nav-desktop .level0 .level-top-mega .mage-column.mega-block-right{position: absolute;right: 0;bottom: 0;}
  .mega-block-right img{max-width: 100%;}
  .vmagicmenu .block-title,.vmagicmenu .level0 .level-top{padding: 0 20px;}
  .vmagicmenu .level0.first .content-mega-horizontal {width: 665px !important;}
  .magicmenu .nav-desktop .level0:hover .level-top-mega{top: 77px;}
  .magicmenu .nav-desktop .level0.home{padding:0;}
  .magicmenu .nav-desktop .level0 .level-top{padding: 28px 15px;}
  .magicmenu .nav-desktop .level0.logo.display .level-top{padding: 26px 15px;}
  .magicmenu .nav-desktop .level0 .level-top > span,
  .magicmenu .nav-desktop .level0 .level-top,
  .magicmenu .nav-desktop .level0 .level-top span.icon-text{font-size: 15px;}
  .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{width:180px;}
  .product-view .product-shop .add-to-cart button.button span span{padding:0 23px;}
  .product-view .product-img-box .more-views{width: 280px;}
  .product-view .product-img-box .more-views .bx-wrapper .bx-controls-direction a{height: 69px;line-height: 69px;}
  .product-view .product-options .swatch-view, .product-view .product-options .option-view{margin-right: 15px;}
  .play .caption2,.play .caption2 strong,.play .caption3{font-size: 45px;line-height: 45px;}
  .btn-shop{line-height: 35px;}
  .play .text-slide2 .caption1,.play .text-slide2.text-slide3 .caption1{font-size: 80px;line-height: 80px;}
  .caption-text1, .caption-text1 span,.text-slide2 .caption-text1{font-size: 60px;line-height: 60px;}
  .play .text-slide2.text-slide3 .caption2 { letter-spacing: 3px;}
  .text-slide2 .caption-text2{font-size: 30px;line-height: 30px;}
  .text-slide2 .caption-text3{font-size: 25px;line-height: 25px;}
   .size1of3{width: 222px;}
   .size1of6 {width: 483px;}
   .size1of9 {width: 698px;}
   .banner2.banner-inner.size1of3 { width: 195px;}
   .banner2.banner-inner.size1of3 img {height: 340px;}
  .box-text h3{font-size: 20px;}
  .column-1-2 .box-text.box-text-possion h3{font-size: 30px;}
  .banner2.banner-inner .banner-inner-content a::before {bottom: 30px;left: 15px; right: 15px;top: 30px;}
  .banner2.banner-inner.size1of3 .banner-inner-content .box-text{padding-left: 25px;}
  .banner-inner-content a img{max-width: 100%;}
  .heading .title{font-size: 30px;}
  .intro{font-size: 15px;}
  .timer-view .box span b{font-size: 20px;line-height: 22px;}
  .timer-view .box span.title{font-size: 13px;}
  .box-title{padding: 0 0 6px 10px;}
  .box-top .sub-title{font-size: 18px;}
  .section-sub-text{font-size: 13px;}
  .subtitle, .sub-title{font-size: 14px;padding:18px 0 0;}
  .banner-top .banner-inner-content{margin-bottom: 12px;}
  .blog_short_text a span{font-size: 15px;}
  .products-list .actions-list .button.btn-cart span span.view-cart{font-size: 14px;}
  .block-footer-bottom .footer li.feature-icon .fa{width: 35px;height: 35px;line-height: 35px;}
  .footer .block1.block-content-statick li span.fa{font-size: 15px;}
  .footer .block1.block-content-statick li span.fa.fa-envelope{font-size: 15px;}
  .footer .block1.block-content-statick li p{width: 170px;}
  .footer .collapsible .form-subscribe-header p,.logo-text{font-size: 15px;}
  .block-subscribe input.input-text{width: 180px;}
}	

@media(max-width:991px) {
.header-right {padding-bottom: 5px;padding-right: 0; padding-top: 5px;}
.cartSummary .icon-cart {font-size: 20px;}
.header-center {padding-top: 3px;}
.block-progress .block-content { padding: 10px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.play .caption1{font-size: 80px;line-height: 80px;}
	.play .caption2,.play .caption2 strong{font-size: 40px;line-height: 40px;}
	.play .caption3{font-size: 40px;line-height: 40px;top:53%;}
	.play .caption4,.play .text-slide3 .caption4{bottom: 45px;}
	.play .text-slide3 .caption2,.play .caption3 strong{font-size: 35px;line-height: 35px;}
    .btn-shop{line-height: 35px;}
    .play .text-slide2 .caption1,.play .text-slide2.text-slide3 .caption1{font-size: 70px;line-height: 70px;}
    .size1of3{width: 220px;}
   .size1of6 ,.size1of9{width: 480px;margin-right: 0;}
   .banner2.banner-inner.size1of3 {clear: both; float: none;width: 100%;padding-top: 20px;}
   .banner2.banner-inner.size1of3 img {height: auto;}
   .text-right .banner-inner-content .box-text{top: 70px;}
  .box-text h3{font-size: 20px;}
  .column-1-2 .box-text.box-text-possion h3{font-size: 30px;}
  .banner2.banner-inner .banner-inner-content a::before {bottom: 30px;left: 15px; right: 15px;top: 30px;}
  .banner2.banner-inner.size1of3 .banner-inner-content .box-text{padding-left: 25px;}
    .banner-inner-content a img{max-width: 100%;width: 100%;}
	.custom-menu{display: none;}
	.mean-container a.meanmenu-reveal{padding: 15px;}
	.mean-container .mean-nav .mobi-title{line-height: 42px;padding: 0 0 0 70px;}
	.header-bottom.header-container-fixed{position: static;}
	.vmagicmenu .block-title,.vmagicmenu .level0 .level-top{padding: 0 20px;}
  .vmagicmenu .level0.first .content-mega-horizontal {width: 446px !important;}
	.magicmenu .nav-desktop .level0 .level-top > span{font-size: 14px;}
	.magicmenu .nav-desktop .level0.home{padding:0;}
	.mega-block-right img{position: static;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{width:155px;}
	.magicmenu .nav-desktop .level0 .level-top-mega .children .level-3 a{font-size:14px;}
	.block-related .block-title h3 span, .box-up-sell .block-title h3 span, .crosssell h3 span, .alo-brands .item span, .block-title-tabs span, .magictabs .item .title, .block .block-title strong span, .testimonials h3 span, .account-login .content h2{font-size: 17px;line-height: 17px;}
	.blog_short_text{padding: 50px 0 0 15px;}
	.blog_short_text a span{font-size: 13px;line-height: normal;}
	.blog_short_text p{font-size: 12px;}
	.block-newletter { text-align: left;padding-top: 20px;}
	.footer .form-subscribe-header{padding: 0 0 10px;}
	.footer .block1.block-content-statick li span.icons{margin: 0 5px 8px 0;}
	span.mt-cart-label-label{display:none;}
	.support-policy .support-footer-inner .col-icon, .support-policy .support-footer-inner .col-text{line-height: normal;display: block;}
	.support-footer-inner .support-icon{width: 100%;height: 50px;line-height: 50px;}
	.support-footer-inner .support-info .info-title{padding: 0;font-size: 13px;}
	.block-footer-top .footer h3 span,.testimonials h3 span,.blog-static .section-title span,.magictabs .item span,.magic-category .block-title-tabs h3{font-size: 11px;}
	.block-creare-twitter .block-content ul li .twitter-links{width:100px;}
	.no-display{display:block !important;}
	.link-view{display: none;}
    .product-view .product-img-box .more-views{width: 200px;}
    .product-view .product-img-box .more-views .bx-wrapper .bx-controls-direction a{height: 69px;line-height: 69px;}
	.product-view .product-shop .add-to-links{margin: 20px 0;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-view .toggle-tabs .item{font-size: 14px;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	.block-layered-nav dd{padding: 0 0 10px;}
	.swatch-link, .swatch-label{font-size: 10px}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	#popup-newsletter{width:728px !important;background-size: cover;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.products-list .actions-list .button.btn-cart span span.view-cart{margin: 0;padding: 0px; text-align: center;float: none;}
	.products-list .actions-list .button.btn-cart span span{padding: 0 17px 0 10px;}
	.alo-social-networks a{margin: 0 8px 0 0;}
	.collapsible{margin-top: 15px;clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.footer address,.paypal{float: none;padding:10px 0;display: inline-block;}
	.clearboth{clear: both;}
	.products-list .price-box .regular-price .price, .products-list .price-box .special-price .price,.products-list .price-box .old-price .price{font-size: 13px;}
    .cart-table td {padding: 15px 13px;}
    	.alo-blog .bx-wrapper .bx-controls-direction a.bx-prev,
	.block-related .bx-wrapper .bx-controls-direction a.bx-prev, .box-up-sell .bx-wrapper .bx-controls-direction a.bx-prev, .crosssell .bx-wrapper .bx-controls-direction a.bx-prev, .content-products .bx-wrapper .bx-controls-direction a.bx-prev {left: 0px;}
	.alo-blog .bx-wrapper .bx-controls-direction a.bx-next,
	.block-related .bx-wrapper .bx-controls-direction a.bx-next, .box-up-sell .bx-wrapper .bx-controls-direction a.bx-next, .crosssell .bx-wrapper .bx-controls-direction a.bx-next, .content-products .bx-wrapper .bx-controls-direction a.bx-next { right:0px;}
    .data-table tbody tr td .product-name a, .data-table tbody tr td .cart-price .price{font-size: 12px;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.cms-index-index .header{position: static;}
	.custom-menu .magicmenu,.slide-vertical,.anav-container{display: none;}
	.col-left{margin-top: 30px;}
	.header-container-fixed{position: static;}
	.no-display{display:block !important;}
	.header .welcome-msg{text-align: center;}
	.header .form-search label{display: none;}
	.header .header-search{float: right;}
	.header .form-search button.button{padding: 10px 0 0 5px;}
	.header .form-search input.input-text{background-color: #eee;left: 0;opacity: 0;padding:10px;position: absolute;top: 100px;visibility: hidden;width: 100%;z-index: 1000;}
	.header .form-search:hover input.input-text {opacity: 1;top: 110px;visibility: visible;width: 100%;}
	.content-logo{float: left;width: auto;}
	.header .header-setting,.settting-switcher, .top-links{float: none;text-align: center;}
	.header .currency_top .dropdown-switcher, .header .top-form-language .dropdown-switcher, .header .header-setting .dropdown-switcher{text-align: left;}
	.settting-switcher, .top-links{vertical-align: top;display: inline-block;}
	.header-setting .icon-setting:after, .miniCartWrap .crat-icon:after{display: none;}
	.header .form-search button.button span,.header .form-search button.button span span .fa{height: 30px;line-height: 30px;width: 30px;}
	.header { position: relative;}
	.header-setting .label-title {margin-bottom: 5px;text-align: left;}
	.dropdown-switcher ul {margin: 0;}
	.header .header-right .header-search .dropdown-switcher { border: 0 none;  padding: 0; width: 100%;}
	.mean-container a.meanmenu-reveal{margin-top: 60px;}
	.header .mini-maincart {position: static;}
	.header .cartSummary {position: relative;}
	.miniCartWrap .icons{padding: 6px;font-size: 24px;}
	.crat-icon .zero, .crat-icon .item{height: 20px;line-height: !important;width: 20px;}
	.cartSummary span.item, .cartSummary span.zero, .cartSummary span.price {font-size: 12px;}
	.dispaly-phone{text-align: center;margin:10px 0 0;}
	.size1of6{width: 100%;margin-right: 0;margin-bottom: 20px;}
	.play .caption1{font-size: 40px;line-height: 40px;margin: 0;top: 37%;}
    .play .caption2,.play .caption2,.play .caption3 strong{font-size: 20px;line-height: 20px;top: 43%;}
    .play .caption3{font-size: 17px;line-height: 17px;top: 53%;}
	.play .text-slide2 .caption1{font-size: 40px;line-height: 40px;top: 37%;}
	.play .text-slide2.text-slide3 .caption1{font-size: 40px;line-height: 40px;}
	.play .text-slide2 .caption4,.play .text-slide3 .caption4{display: none;}
	.banner1.banner-inner.size1of9 .size1of3,.size1of3{width: 100%;margin-right: 0;float: none;}
	.pa-lines{margin: 0;}
	.banner2.banner-inner.size1of3 {float: none;width: 100%;clear: both;}
	.banner-inner-content{margin: 0 0 10px;}
	.banner-inner-content a img{width: 100%;max-width: 100%;}
	.magictabs .item .title::after, .featured-product-tab .magictabs .item .title::after{display: none;}
	.timer-view .box{width: 70px;}
	.timer-view .box span b{font-size: 20px;line-height: 22px;}
    .timer-view .box span.title{font-size: 13px;}
    .deal-of .shop-now a{line-height: 35px;margin-top: 32px;}
    #popup-newsletter{width: 320px !important;background-size: cover;background-repeat: no-repeat;}
	#popup-newsletter .block-content .input-box,
	#popup-newsletter .block-content input.input-text,
	#popup-newsletter .block-content .actions{float: none !important;display: inline-block;width: 100%;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	#popup-newsletter .block-content{width: 270px;float: none;padding:50px 20px;}
	#popup-newsletter .subscribe-bottom{margin:70px 0 0;}
	.box .featured-images-wrap, .box .featured-text-wrap{float: none;margin:0 auto;}
	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.link-view{display: none;}
	.social-links a{display:inline-block;float:none;}
	.block-content-statick{margin-bottom:10px;}
	.paypal img{display:inline;}
	.magictabs .item span{font-size:12px;}
	.block-custom.block-custom1 .magictabs{margin: 0 !important;}
	.block-custom.block-custom1 .bx-wrapper .bx-controls-direction a{top: -200px;}
	.featured-product-tab .magictabs .item .title{padding-bottom:10px;}
	.featured-product-tab .magictabs .item:first-child .title{padding-left: 0;}
	.magictabs .item .title{font-size: 18px;}
	.block-title h2 span.title-top {font-size: 30px;padding: 0 0 20px;}
	.block-custom.block-custom1 .featured-product-tab .magictabs .item:hover .title::after, .block-custom.block-custom1 .featured-product-tab .magictabs .item.active .title::after{bottom: 20px;}
	.block-custom.block-custom1 .featured-product-tab .magictabs .item .title::after{left: 0px;width: 100%;}
	.category-products .item img, .product-image img{width: 100%;}
	.mini-maincart .mini-contentCart{width:100%;z-index: 1000;top: 160px;}
	.mini-maincart .mini-products-list .product-details,.mini-contentCart .block-content .block-subtitle{text-align:left;}
	.alo-brands .nbs-flexisel-item img{display:inline-block;}
	#backtotop{display:none !important;}
	.magiccategory .mage-magictabs .item .per-product{margin:0 10px;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-wapper-tab .toggle-tabs,.product-wapper-tab .product-collateral{float: none;width: 100%;}
	.product-wapper-tab .product-collateral{padding: 28px 5px 30px;}
	.product-view .box-tags .form-add input.input-text{margin-bottom:10px;}
	.product-view .box-tags .form-add input.input-text,
	.product-view .box-tags .form-add .input-box,
	.product-view .box-reviews .form-add .form-list input.input-text, 
	.product-view .box-reviews .form-add .form-list textarea,
	.product-view .box-reviews .form-add .form-list .input-box{width: 90%;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.product-view .product-shop-content {padding: 20px 0 0;}
	.data-table thead th{padding:10px 2px;}
	.nobr{font-size:12px;}
	.checkout-cart-index .data-table .product-image img{display: inline;}
	.data-table .custom-qty{overflow: hidden; margin: 0 auto;}
	.cart-table .btn-continue,.cart-table .btn-update, .cart-table .btn-empty{float:none;margin-left: 0;}
	.cart-table button.button{margin-top:3px;margin-bottom:3px;}
	.cart-table td{padding:30px 10px;}
	.cart .page-title{padding:10px 0;}
	.cart .crosssell{margin:20px 0 0 0;}
	.breadcrumbs li{background-position: 0 65%;}
	.blog-postbox .button-set{margin-bottom:15px;}
	.title-heading-left{padding:10px 0 5px;}
	.no-left-gutter {padding-left: 15px;}
	.no-right-gutter {padding-right: 15px;}
	.page {overflow: hidden;}
	.main .col-main {padding: 0 15px;}
	.bx-caption .banner-free .oders {font-size: 200%;}
	.banner-free .btn-shop {margin-top: 5px;padding: 9px 20px;}
	.block-footer-bottom .footer { padding: 20px 0;}
	.breadcrumbs {margin: 0 0 20px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	.block-subscribe .block-content{display: block;}
	.footer .form-subscribe-header, .footer .block-subscribe .input-box{float: none;width: 100%;text-align: left;}
	.footer .block-subscribe .input-box{padding: 0;}
	.block-footer-top .main{ padding: 20px 0 10px;}
	.block-subscribe input.input-text{width: 230px;}
	.mobile-collapsible{clear: both;margin-bottom: 20px;}
	.footer .block-content-statick .list-inline li{float: none;}
	.support-footer-inner .row-normal{margin-bottom: 20px;}
	.support-footer-inner .support-info .info-title{font-size: 13px;}
	.block_bottom{padding: 25px 0;}
	.social-link{margin-top: 5px;}
	.paypal{float:none;width:100%;padding: 10px 20px 0;clear: both;}
	.post-date span{font-size: 14px;}
	.blog_short_text a span{font-size: 15px;font-weight: normal;}
	.cms-index-index .alo-blog{ margin: 0 0 40px;}
	.alo-blog .bx-wrapper .bx-controls-direction a.bx-prev,
	.block-related .bx-wrapper .bx-controls-direction a.bx-prev, .box-up-sell .bx-wrapper .bx-controls-direction a.bx-prev, .crosssell .bx-wrapper .bx-controls-direction a.bx-prev, .content-products .bx-wrapper .bx-controls-direction a.bx-prev {left: 0px;}
	.alo-blog .bx-wrapper .bx-controls-direction a.bx-next,
	.block-related .bx-wrapper .bx-controls-direction a.bx-next, .box-up-sell .bx-wrapper .bx-controls-direction a.bx-next, .crosssell .bx-wrapper .bx-controls-direction a.bx-next, .content-products .bx-wrapper .bx-controls-direction a.bx-next { right:0px;}
	.cms-index-index .block_testimonials{padding: 28px 0;}
	.testimonial_text .sub-text{font-size: 13px;letter-spacing: 0px;}
	.testimonials .title-name{font-size: 14px;}
	.toggle-tab.mobile{color: #ffffff;cursor: pointer;display: block !important;padding: 14px 20px 18px;position: absolute;right: 0px;z-index: 0; width: 100%; text-align: right;}
    .toggle-content,.block-layered-nav .toggle-content-{ display: none;}
	.toggle-content.visible{ display: block;}
	.block-layered-nav .toggle-tab.mobile{padding: 0px;top: 0;color: #888;width: 20px;font-size: 14px;line-height: 20px;cursor: pointer;}
	.block-layered-nav .toggle-tab:before{content: "";font-family: FontAwesome;}
	.block-layered-nav .toggle-visible .toggle-tab:before{content: "";font-family: FontAwesome;}
	.block-layered-nav .toggle-tab.mobile{position: absolute;display: block !important;line-height: 40px; }
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
	.block.block-layered-nav .block-title{position: relative;}
	.block.block-layered-nav .block-title:before{content: "";font-family: FontAwesome; display: inline-block;font-size: 20px;text-align: right;width: 32px;position: absolute;right: 0;cursor: pointer;z-index: 1;color: #888;line-height: 33px;}
	.block.block-layered-nav .block-title.active:before{content: "";line-height: 15px;}
	
}

@media only screen and (max-width: 639px) {
.col-mobile-plus-12{width:100%}
.col-mobile-plus-6{width:50%}
.col-mobile-plus-4{width:30.3333333333%}
.col-mobile-plus-3{width:25%}
.col-mobile-plus-2{width:16.6666666666%}
.col-mobile-plus-1{width:8.33333333333%}
.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
.col2-set .col-2 {float: right;width: 100%;}
.account-login .content { min-height: 100px;}
.account-login .buttons-set {margin: 0; padding: 0;}
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
.product-view .product-img-box .more-views .bx-wrapper .bx-controls-direction a{top: 20%;}
}
/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .category-products .products-grid .item.col-mobile-12{padding-left: 5px;padding-right: 5px;}
    .col-main .category-products .products-grid .item .actions-cart .button.btn-cart span{padding: 0 10px;font-size: 13px;}
    .col-main .category-products .products-grid .item .actions-cart .button.btn-cart span span{padding: 0;}
}
@media only screen and (min-width: 480px) and (max-width: 639px) {
	table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {border: 0 none;outline: medium none;}
	table#wishlist-table td, 
	table#wishlist-table th table#product-review-table td, 
	table#shopping-cart-table td, 
	table#shopping-cart-table th, 
	table#checkout-review-table td, 
	table#checkout-review-table th, 
	table#my-orders-table th, 
	table#my-orders-table td {display: block;float: none;text-align: center !important;}
	.data-table td.last { border-bottom: 1px solid #dddddd !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead th{border-left: 1px solid #dddddd;border-bottom: 0 none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
}

/* width < 480px */
@media only screen and (max-width: 479px) {
.col-mobile-12{width:100%}
.col-mobile-6{width:50%}
.col-mobile-4{width:30.3333333333%}
.col-mobile-3{width:25%}
.col-mobile-2{width:16.6666666666%}
.col-mobile-1{width:8.33333333333%}
.block-title h2 span {font-size: 20px;}
.cartSummary .icon-cart {font-size: 17px;}
.nbs-flexisel-item img {display: inline-block;}
.magictabs .item {display: block;}
.product-view .product-shop .add-to-links {clear: both;display: block;padding-top: 10px;}
.product-view .product-shop .add-to-links li, 
.product-view .product-shop .add-to-links li .separator {margin: 0 10px 0 0;}
.cart-table td{padding: 10px;}
.products-list .product-shop{padding-top: 10px;}
.category-products .products-grid .item.col-mobile-12{padding-left: 10px;padding-right: 10px;}

}
/* Iphone 4 landscape */
@media (max-width: 360px) {
	.category-products .products-grid > li {width: 100%;}	
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.product-view .product-img-box .more-views{width: 200px;}
	.product-view .product-img-box .more-views .bx-wrapper .bx-controls-direction a{height: 65px;line-height: 65px;}
	.sorter .view-mode{float: left;}
	.sorter .limiter{margin-right: 15px;margin-bottom: 10px;}
	.magictabs .item,.featured-product-tab .magictabs .item .title{padding-left: 0;padding-right: 0;display: block;}
	.featured-product-tab .magictabs .item .title{background-image: none;}

}

@media only screen and (min-width: 320px) and (max-width: 400px) {
    .block-subscribe input.input-text {width: 100%;}
	.block-subscribe .actions button.button{margin-top: 10px;margin-left: 0;}
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  
	table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {border: 0 none;outline: medium none;}
	table#wishlist-table td, 
	table#wishlist-table th table#product-review-table td, 
	table#shopping-cart-table td, 
	table#shopping-cart-table th, 
	table#checkout-review-table td, 
	table#checkout-review-table th, 
	table#my-orders-table th, 
	table#my-orders-table td {display: block;float: none;text-align: center !important;}
	.data-table th, .data-table td.last { border-bottom: 1px solid #DDDDDD !important;}
	.data-table tfoot {border-bottom: none;}
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.data-table thead.hidden-phone{display:none;}
	.cart .title-buttons .checkout-types,.cart .title-buttons .checkout-types li{float: none;text-align:center;}
	.cart .title-buttons .checkout-types{margin-top:10px;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	.footer .store-switcher{margin:0;}
	.magic-category .magictabs .item:first-child{padding-left:0;}
	#toPopup{left:18%;top: 10%;}
	.box-support ul li{margin-top:10px;}
	.wrapper{overflow:hidden;}
	.blog-static .flexisel-content .item{margin-bottom:15px;}
	.product-view .product-img-box .more-views .nbs-flexisel-item img{display:inline;}
	.box-up-sell{margin-bottom:15px;}
	
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	.play .caption1{top: 10%;}
	.play .caption2, .play .caption2 strong{top: 35%;}
	.play .caption3{top: 49%;font-size: 15px;line-height: 15px;}
	.play .caption4, .play .text-slide3 .caption4{bottom: 35px;}
    .play .text-slide2 .caption1{top: 25%}
    .deal-of img{max-width: 300%;width: auto;}
    .wrapper{overflow:hidden;}
	.block .block-title strong span, .footer h3, .account-login .content h2,.block-footer-top .footer h3 span,
	.block-related .block-title h3 span, .box-up-sell .block-title h3 span, .crosssell h3 span,.block .block-title strong span,.account-login .content h2{font-size:12px;}
	.magic-category .magictabs .item{margin-bottom:5px;padding: 0 5px 0 0;}
	.magic-category .magictabs .item:first-child{padding-left:0;}
	.footer .store-switcher{margin:0;}
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{ display: inline-block;float: none !important;padding: 5px 0;border: 0;}
	.box-support,.header .top-form-language,.header .currency_top,.header-top-right.pull-right{padding-top:0;}
	#products-list .item .product-shop{ margin-top: 20px;}
	#popup-newsletter{width: 280px !important;}
	.product-view .product-shop .add-to-links a{margin-bottom:10px;display:inline-block;}
	.box-support ul li{background:none;}
	#toPopup{left:3%;}
	.blog-static .flexisel-content .item{margin-bottom:15px;}
	.box-up-sell{margin-bottom:15px;}
	.product-view .product-img-box .more-views{width: 195px;}
	.product-view .product-img-box .more-views .bx-wrapper .bx-controls-direction a{height: 65px;line-height: 65px;}
	.product-shop .ratings .rating-links{ margin: 10px 0px 10px;}
	.testimonials .title-name {font-size: 11px;}
	.blog_short_text {padding: 0 0 0 20px;}
	.post-date{margin-bottom: 15px;}
	.block-subscribe input.input-text {width: 100%;}
	.block-subscribe .actions button.button{margin-top: 10px;margin-left: 0;}
	.featured-product-tab .magictabs .item .title{background-image: none;}
	.magictabs .item{padding-left: 0;padding-right: 0;}
	.featured-product-tab .magictabs .item .title{padding-left: 0;}
	
}
@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
}







