<?xml version="1.0"?>
<!-- 
/**
 * Magiccart 
 * @category    Magiccart 
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author: Magiccart<team.magiccart@gmail.com>
 * @@Create Date: 2014-06-07 12:27:23
 * @@Modify Date: 2015-07-23 11:10:10
 * @@Function:
 */ 
-->
<config>
    <tabs>
        <magiccart translate="label">
            <label>Magiccart</label>
            <sort_order>100</sort_order>
        </magiccart>
    </tabs>
    <sections>
        <magicmenu translate="label" module="magicmenu">
            <label>Magic Menu</label>
            <tab>magiccart</tab>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Magic Menu</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </enabled>
                        <jquery translate="label comment">
                            <label>Add jQuery: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </jquery>
   <!--                     <label translate="label comment">
                            <label>Show Label : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </label>
                        <description translate="label comment">
                            <label>Show short Description : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </description>
                        <thumbnail translate="label comment">
                            <label>Show Thumbnail Category : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <comment>Show Cat Thumbnail in tab Magiccart</comment>                         
                        </thumbnail>
                        <height_thumb translate="label comment">
                            <label>Height of Images: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                            <comment>greater than zero</comment>
                        </height_thumb>  
                        <width_thumb translate="label comment">
                            <label>Width of Images: </label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-greater-than-zero</validate>
                            <comment>greater than zero</comment>
                        </width_thumb>  -->
                        <dropdown translate="label comment">
                            <label>Dropdown Navigation : </label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>magicmenu/system_config_category</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                            <comment>Default all Type Megamenu</comment>                        
                        </dropdown>
                    </fields>                   
                </general> 
                <topmenu translate="label">
                    <label>Top Menu</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled Top Menu : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </enabled>
                        <sticker translate="label comment">
                            <label> Sticker Menu : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                            <comment>Fixed to top while scroll page</comment>                       
                        </sticker>
                        <home translate="label comment">
                            <label>Show Home : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </home>
                        <demo translate="label comment">
                            <label>Show Home Demo: </label>
                            <depends><home>1</home></depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show dropdown demo multistore</comment>                         
                        </demo>
                        <mainCat translate="label comment">
                            <label>Show Main Category : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <comment>Show Standard Category</comment>                            
                        </mainCat>
                        <extraCat translate="label comment">
                            <label>Show Extra Category : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </extraCat>
<!--                         <dropdown translate="label comment">
                            <label> Dropdown Navigation Item : </label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>magicmenu/system_config_category</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                        </dropdown> -->
                        <notIncludeNav translate="label comment">
                            <label>Not Include in Navigation Top : </label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>magicmenu/system_config_category</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                            <comment>Disable item in topmenu</comment>                       
                        </notIncludeNav>
                    </fields>                   
                </topmenu> 
                <vmenu translate="label">
                    <label>Vertical Menu</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled Vertical Menu : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </enabled>
                        <home translate="label comment">
                            <label>Show Home : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </home>
                        <mainCat translate="label comment">
                            <label>Show Main Category : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <comment>Show Standard Category</comment>                            
                        </mainCat>
                        <extraCat translate="label comment">
                            <label>Show Extra Category : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </extraCat>
<!--                         <dropdown translate="label comment">
                            <label> Dropdown Navigation Item : </label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>magicmenu/system_config_category</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                        </dropdown> -->
                        <notIncludeNav translate="label comment">
                            <label>Not Include in Navigation Vertical : </label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>magicmenu/system_config_category</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
                            <comment>Disable item in vertical menu</comment>                                     
                        </notIncludeNav>
                    </fields>                   
                </vmenu> 
                <amenu translate="label">
                    <label>Accordion Menu</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled Accordion Menu : </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                          
                        </enabled>
                    </fields>                   
                </amenu> 
            </groups>
        </magicmenu>
    </sections>
</config>

